<%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <h1>This is the <%= name %> subreddit</h1>
    <h2><%= description%></h2>
    <p>subscribers: <%= subscribers%></p>

    <% for(post of posts){ %>
    <h2><%= post.title %></h2>
    <h3><%= post.author %></h3>
    <img src="<%= post.img %> " alt="" />
    <%}%>
  </body>
</html>
